<nav class="navbar navbar-custom navbar-expand-lg">
    <div class="container-fluid">
      <!-- Marca de la aplicación --------------------------------------------------------------------------------------------------------------------------->
      <a class="navbar-brand" href="#"
        >FerreGestionSys - software de gestion</a
      >

      <!-- Botón de menú responsivo ------------------------------------------------------------------------------------------------------------------------->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Elementos del menú de navegación ------------------------------------------------------------------------------------------------------------------>
      <div class="collapse navbar-collapse" id="navbarNav">
        <!-- Formulario de búsqueda ------------------------------------------------------------------------------------------------------------------------>
        <form class="d-flex justify-content-center" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Buscar"
            aria-label="Buscar"
          />
          <button class="btn btn-outline-success" type="submit">
            Buscar
          </button>
        </form>
        <!-- Menú de navegación derecho -------------------------------------------------------------------------------------------------------------------->
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/login.html"
              > Cerrar Sesión  <i class=" bi bi-box-arrow-right "></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

