<app-nav></app-nav>
<app-menu></app-menu>

<div class="container-fluid p-4 d-flex flex-column flex-grow-1">
    <h1 class="text-center font-weight text-black mb-5">FerreGestionSys</h1>
    <h1 class="text-center font-weight text-black mb-5"> BIENVENIDO</h1>

    <!-- Sección de tarjetas de información -------------------------------------------------------------------------------------------------------------------->
    <div class="row">
      <div class="col-md-6">
        <div class="card bg-primary text-white">
          <div class="card-body text-center">
            <i class="bi bi-house-fill fs-1"></i>
            <h5 class="card-title">Nuestra tienda virtual</h5>
            <p class="card-text">
              En este lugar podrás encontrar todo lo que necesitas
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card bg-success text-white">
          <div class="card-body text-center">
            <i class="bi bi-clipboard-check fs-1"></i>
            <h5 class="card-title">Reportes financieros</h5>
            <p class="card-text">Reportes financieros de tu empresa</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card bg-warning text-white">
          <div class="card-body text-center">
            <i class="bi bi-calendar-check fs-1"></i>
            <h5 class="card-title">Gestiona tu negocio</h5>
            <p class="card-text">
              Gestiona tu negocio con FerreGestionSys software de gestión
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card bg-danger text-white">
          <div class="card-body text-center">
            <i class="bi bi-graph-up fs-1"></i>
            <h5 class="card-title">Gestiona tus empleados</h5>
            <p class="card-text">
              Gestiona tus empleados con FerreGestionSys software de
              gestión
            </p>
          </div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>


<app-footer></app-footer>